# Required packages for the project

# OpenAI package for AI-related functionalities
openai

# Langchain for blockchain-based language applications
langchain

# Streamlit for building interactive web apps with Python
streamlit

# python-dotenv for managing environment variables from a .env file
python-dotenv

# PyPDF2 for PDF manipulation in Python
PyPDF2

langchain_community
langchain-openai

# To install the local package in the environment,
# you can either use 'python setup.py install'
# or just add '-e .' to install in editable mode. 
-e .


# installing the requirements.txt generates a 'mcq_generator.egg-info' with info regarding the installed stuff in the enviorment
